@define-color bg_color rgba(46, 46, 46, 0.7);

* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-size: 16px;
  color: @theme_text_color;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#temperature, #cpu, #pulseaudio, #battery, #language, #idle_inhibitor, #workspaces button {
  background: transparent;
  padding: 8px;
}

#window {
  font-weight: bold;
  padding: 8px;
}

window#waybar {
  background: @bg_color;
}

#clock {
  background: @theme_bg_color;
  padding: 8px;
}

#mode {
  background: @error_color;
  padding: 8px;
}

#idle_inhibitor.deactivated {
  color: @theme_unfocused_fg_color;
}

#workspaces button {
  transition: none;
}

#workspaces button.focused {
  background: @theme_bg_color;
  border-top: 2px solid @theme_fg_color;
  padding: 6px 8px 8px;
}

tooltip {
  background: @bg_color;
}
