@define-color background rgba(26, 27, 38, 0.9);
@define-color foreground #a9b1d6;
@define-color black      #32344a;
@define-color white      #787c99;

* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-size: 16px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: @background;
}
#window {
  color: @foreground;
  padding: 6px 8px;
}

#temperature, #cpu, #memory, #network, #pulseaudio, #battery, #language, #idle_inhibitor, #workspaces button {
  color: @white;
  background: transparent;
  padding: 6px 8px;
}

#clock, #mode {
  color: @foreground;
  background: @black;
  padding: 6px 8px;
}

#workspaces button.focused {
  color: @foreground;
  background: @black;
  border-bottom: 2px solid @white;
  padding: 6px 8px 4px;
}

#idle_inhibitor.activated {
  color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @white;
}
tooltip label {
  color: @white;
}
