@define-color background rgba(26, 27, 38, 0.9);
@define-color black      #32344a;
@define-color green      #b9f27c;
@define-color yellow     #e0af68;
@define-color blue       #7aa2f7;
@define-color cyan       #449dab;
@define-color white      #acb0d0;

* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-size: 16px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: @background;
}
#window {
  color: @cyan;
  padding: 6px 8px;
}

#temperature, #cpu, #memory, #network, #pulseaudio, #battery, #language, #idle_inhibitor, #workspaces button {
  color: @white;
  background: transparent;
  padding: 6px 8px;
}

#clock, #mode {
  color: @green;
  background: @black;
  padding: 6px 8px;
}

#workspaces button.focused {
  color: @white;
  background: @black;
  border-bottom: 2px solid @blue;
  padding: 6px 8px 4px;
}

#idle_inhibitor.activated {
  color: @yellow;
}

tooltip {
  background: @background;
  border: 1px solid @blue;
}
tooltip label {
  color: @white;
}
